<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Lighthouse Development</title>

		<!-- Google font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

		<!-- Owl Carousel -->
		<link type="text/css" rel="stylesheet" href="/styles/plugin/owl.carousel.css" />
		<link type="text/css" rel="stylesheet" href="/styles/plugin/owl.theme.default.css" />

		<!-- Magnific Popup -->
		<link type="text/css" rel="stylesheet" href="/styles/plugin/magnific-popup.css" />

		<!-- Font Awesome Icon -->
		<!-- <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css"> -->

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/styles/site.css" />

		{{{isAdminEditorCSS user}}}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<!-- Footer -->
	<footer id="footer" class="bg-dark text-gold">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 text-center py-2">
					<img src="/images/home/ldg-logo-gold.png" class="footer-logo" alt="Lighthouse">
				</div>
				<div class="col-md-6 col-lg-3 py-2">
					<div class="">
						<h4 class="text-uppercase">about us</h4>
						<p>Quo modo autem optimum, si bonum praeterea nullum est? Haec quo modo conveniant, non sane intellego. Quid censes in Latino fore</p>
					</div>
					<hr>
					<div class="">
						<h4>FAQ</h4>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 py-2">
					<h4 class="text-uppercase">contact us</h4>
					<p>9130 Leslie St, Suite 303<br />Richmond Hill, ON L4B 0B9</p>
					<hr>
					<p>Tel: (+1) 905-771-7326<br />Fax: (+1) 905-771-0555</p>
					<hr>
					<p>admin@lighthousedevelopment.com</p>
				</div>
				<div class="col-md-6 col-lg-3 py-2">
					<div class="mb-3">
						<h4>GET INSPIRED BY FOLLOWING US:</h4>
						<div class="row">
							<div class="col-4 col-lg-3">
								<i class="fa fa-facebook-f"></i>
							</div>
							<div class="col-4 col-lg-3">
								<i class="fa fa-twitter"></i>
							</div>
							<div class="col-4 col-lg-3">
								<i class="fa fa-pinterest-p"></i>
							</div>
						</div>
					</div>
					<div class="">
						<h4>SIGN UP TO OUR NEWSLETTER:</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<h4 class="m-0">Copyright &copy; 2018 Lighthouse Development Inc. All rights reserved. Privacy / Terms of Use</h4>
		</div>
	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<!-- <div id="back-to-top"></div> -->
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<!-- jQuery Plugins -->
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/js/scrollreveal.min.js"></script>
		<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>

		<script type="text/javascript" src="/js/main.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
