<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="header-bg" style="background-image: url('/images/header.jpeg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="/images/logo.png" alt="logo">
							<img class="logo-alt" src="/images/logo-alt.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">首页</a></li>
					<li><a href="#portfolio">服务与产品</a></li>
					<li><a href="#category">解决方案</a></li>
					<li><a href="#features">团队优势</a></li>
					<li><a href="/blog">最新资讯</a></li>
					<li><a href="#footer">联系我们</a></li>
					<!-- <ul class="dropdown"> -->
					<!-- <li><a href="blog-single.html">blog post</a></li> -->
					<!-- </ul> -->
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">让理财成为一种习惯</h1>
							<h2 class="white-text">“一个客户，综合服务”</h2>
							<p class="white-text">全方位、定制化金融解决方案，让您的生活更简单！</p>
							<p class="white-text">PROVIDE THE BEST FINANCIAL SOLUTION TO YOUR FAMILY</p>
							<a href="/contact" class="btn white-btn">免费咨询</a>
							<a href="/blog" class="btn main-btn">最新资讯</a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- Portfolio -->
	<div id="portfolio" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title grey-text">服务与产品</h2>
					<h2 class="title grey-text">What We Offer</h2>
				</div>
				<!-- /Section header -->

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/1-RESP注册教育基金计划.jpeg" class="img-responsive" alt="RESP注册教育基金计划">
					<a data-toggle="modal" href="#service-1">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>RESP注册教育基金计划</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/2-RRSP-RRIF-LIF注册退休计划.jpeg" class="img-responsive" alt="RRSP/RRIF/LIF注册退休计划">
					<a data-toggle="modal" href="#service-2">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>RRSP/RRIF/LIF注册退休计划</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/3-OAS-GIS养老金.jpeg" class="img-responsive" alt="OAS-GIS养老金">
					<a data-toggle="modal" href="#service-3">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>OAS/GIS养老金</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/4-定期-分红-万通人寿.jpeg" class="img-responsive" alt="定期/分红/万通人寿">
					<a data-toggle="modal" href="#service-4">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>定期/分红/万通人寿</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/5-重疾保险.jpeg" class="img-responsive" alt="重疾保险">
					<a data-toggle="modal" href="#service-5">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>重疾保险</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/6-旅游保险.jpeg" class="img-responsive" alt="旅游保险">
					<a data-toggle="modal" href="#service-6">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>旅游保险</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/7-TFSA注册免税储蓄账户.jpeg" class="img-responsive" alt="TFSA注册免税储蓄账户">
					<a data-toggle="modal" href="#service-7">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>TFSA注册免税储蓄账户</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/8-房贷.jpeg" class="img-responsive" alt="房贷">
					<a data-toggle="modal" href="#service-8">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>房屋贷款</h3>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-xs-6 work">
					<img src="/images/services/9-税务优化.jpeg" class="img-responsive" alt="税务优化">
					<a data-toggle="modal" href="#service-9">
						<div class="overlay"></div>
						<div class="work-content">
							<!-- <span>{{{categoryList categories}}}</span> -->
							<h3>税务优化</h3>
						</div>
					</a>
				</div>


			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->



	<!-- /about-modal -->
	<div class="portfolio-modal modal fade" id="service-1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase text-center">RESP注册教育基金计划</h2>
									<div class="">
										<div class="modal-block">
											<img src="/images/word/1-1.png" class="img-responsive mx-auto" alt="RESP注册教育基金计划">
										</div>
										<div class="modal-block">
											<p>中学后教育是个人取得成功所必不可少的阶段。但是高等教育的花费越来越高，光学费一项就已不菲。截至2016年，加拿大大学每年的平均学费约为$6,373，不含书本费和生活费。</p>
											<p>不过，只要合理计划，养成定期储蓄的习惯，您为子女教育储蓄的资金就能节节增长。</p>
											<p>注册教育储蓄计划( Registered Education Savings Plans，简称RESP，在华人社区通常称为“教育基金”)，是加拿大政府依据所得税法(Income Tax Act)所设立的旨在鼓励家长为子女将来接受大学或学院教育而储蓄的一项资助计划。</p>
											<div class="row">
												<div class="col-sm-7">
													<p>根据该计划，您可以为每个子女存入最多$50,000。其中，政府为家长每年储蓄的头 $2,000 元提供 20% 的资助，即 $400 元，这称之为加拿大教育储蓄奖学金 (Canada Education Savings Grant, CESG)。政府给予每个孩子的教育储蓄奖学金一生最高可达$7,200元。虽然与注册退休储蓄计划(RRSP)不同，RESP不能在当年报税时申请抵税，但是，RESP计划中储蓄以及CESG投资所带来的收益是免税的。</p>
													<p>RESP 对有孩子的家长来说有诸多好处：首先，家长每年储蓄 $2,000 元， 政府补助 $400 元， 这相当于有 20% 的投资回报率。对于低收入或中等收入家庭而言，家长每年储蓄 $2,000 元，政府的补助则为 $500元，相当于有25% 的投资回报率。</p>
												</div>
												<div class="col-sm-5">
													<img src="/images/word/1-2.png" class="img-responsive mx-auto" alt="RESP注册教育基金计划">
												</div>
											</div>
											<p>上图：0岁起，每月存$400，投资回报在8%的情况下，加上政府补助，在孩子18岁开始大学学习时您已有$154,325的教育准备金。</p>
										</div>
										<div class="modal-block">
											<h3>RESP的种类</h3>
											<ul>
												<li>Individual plan个人计划：单个受益人，任何人都可以存款，家长可到政府授权办理RESP业务的金融机构（银行，投资公司，保险公司）开设一个帐户，然后开始每年的储蓄。投资方向自己选择，风险自己承担。</li>
												<li>Family plan家庭计划：多个受益人，存款人必须和受益人有血缘关系，受益人到21岁，存款必须结束。投资方式与个人计划相同。</li>
												<li>Group plan团体计划：资金按年龄段分成一个团体，在政府监管下，由非牟利基金机构统筹管理和投资，不用自己选择投资方向，风险小，回报稳定合理，有一定的保证。</li>
											</ul>
										</div>
	                  <div class="modal-block">
											<h3>RESP计划的好处</h3>
											<ul>
												<li>能够获得政府补贴</li>
												<li>RESP投资的收益部分可以免税复利增长</li>
												<li>RESP收入部分可计入子女收入降低边际税率</li>
											</ul>
	                  </div>
										<div class="modal-block">
											<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
											<p>我们可以代理市场上的RESP投资产品：</p>
											<p>各大银行：TD, BMO, RBC ...</p>
											<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
											<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
	                  </div>
										<div class="modal-block">
											<h3 class="text-center">致电我们 416-856-5613</h3>
											<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
											<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
											<p>- 善用投资工具减低税务开支</p>
											<p>- 善用理财策略增加退休收入</p>
											<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
											<p>- 优化财富传承</p>
											<p>- 完善家庭财务规划</p>
	                  </div>
										<div class="modal-block">
											<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
										</div>
									</div>
									<div class="text-center">
										<button class="btn main-btn" data-dismiss="modal" type="button">
	                    <i class="fa fa-times"></i>
	                    关闭</button>
									</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- /about-modal -->

		<!-- /about-modal -->
		<div class="portfolio-modal modal fade" id="service-2" tabindex="-1" role="dialog" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	              <div class="rl"></div>
	            </div>
	          </div>
	          <div class="container">
	            <div class="row">
	              <div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
	                  <!-- Project Details Go Here -->
	                  <h2 class="text-uppercase text-center">RRSP/RRIF/LIF注册退休计划</h2>
										<div class="">
											<div class="modal-block">
												<h3>利用RRSP为您的退休储蓄！</h3>
												<p>注册退休储蓄计划(Registered Retirement Savings Plan，简称RRSP)是为日后退休储蓄的最佳方法之一。当您为自己的RRSP供款时，供款金额便会从您的交税收入中扣除，从而降低您的税项。</p>
											</div>
											<div class="modal-block">
												<h3>立即为退休开始储蓄</h3>
												<p>您需要为长远目标及早储蓄，这样您才能安心退休，过上自己想要的生活。</p>
												<p>您可以根据自己的意愿，把供款投资在多种不同的增长工具上——RRSP储蓄存款、国库券、担保投资证(Guaranteed investment certificate，简称GIC)、互惠基金、债券，甚至是股票。</p>
												<p>在RRSP内，您的资金增长可以延税，因此增长可能会更快。您的RRSP所赚取的收入无需缴税，直至您提取这笔款项为止。</p>
											</div>
											<div class="modal-block">
												<h3 class="text-center" style="color: teal;">立马开户！立即享受供款带给您的税务效益！</h3>
												<p>下面的图表显示，在一般联邦税率及省税率下，一位缴税收入为$30,000的人士，进行RRSP供款可立刻享受的税务效益。</p>
												<h4 class="text-center">RRSP—立即受惠的储蓄</h4>
												<div class="row modal-row-border-bottom" style="font-weight: bold; font-size: 18px;">
													<div class="col-xs-4 col-xs-offset-4">
														$0 RRSP供款
													</div>
													<div class="col-xs-4">
														$2,000 RRSP供款
													</div>
												</div>
												<div class="row modal-row-border-bottom">
													<div class="col-xs-4">
														交税收入
													</div>
													<div class="col-xs-4">
														$30,000
													</div>
													<div class="col-xs-4">
														$28,000
													</div>
												</div>
												<div class="row modal-row-border-bottom">
													<div class="col-xs-4">
														联邦及省税总金额
													</div>
													<div class="col-xs-4">
														$4,550
													</div>
													<div class="col-xs-4">
														$4,100
													</div>
												</div>
												<div class="row modal-row-border-bottom">
													<div class="col-xs-4">
														延税金额
													</div>
													<div class="col-xs-4">
														$0
													</div>
													<div class="col-xs-4">
														$450
													</div>
												</div>
												<div class="text-center">（图表只作说明用途）</div>
											</div>

											<div class="modal-block">
												<h3>开设RRSP所需资格</h3>
												<p>假如您的年龄介于18至71岁，赚取收入（例如雇主支付您的收入或租金收入等等），并申报加拿大所得税，您便符合资格开设一个注册退休储蓄计划，CRA会计算并告知您可供款的限额。</p>
											</div>
											<div class="modal-block">
												<h3>71岁时RRSP怎么办？</h3>
												<p>按照加拿大政府的规定，任何人都需要在71岁的时候关闭RRSP帐号，不能继续往里供款。这时候，你有以下三种选择：</p>
												<ul>
													<li>选择将钱全部取出，可是从RRSP 账户中取钱100%算作当年收入。如果这笔钱数额很大，税款会相当可怕。</li>
													<li>选择将钱转入注册退休收入基金 (RRIF)账户，可以继续享受延税的投资，但每年必须按政府规定的最低提取比例从账户中提取，并放计入当年收入进行缴税。</li>
													<li>转换成终生收入基金(Life Income Fund)，即LIF，这类似于RRIF，适用于锁定型(Locked-in)退休计划。</li>
													<li>你还可以将钱拿来购买保险公司提供的年金，它可以保证你终身都有钱用；未用完的部分，还可以留给受益人。</li>
												</ul>
											</div>
											<div class="modal-block" style="font-weight: bold;">
												<h4>对于生活在加拿大的多数人来讲，收入是必不可少的，而税务问题又将伴随终生，所以理财、优税是很重要的事情。</h4>
												<p>- 您预计在退休时有大额RRSP留于账户，请提早溶解，您知道除了提早取钱外还有什么更好的方法吗？</p>
												<p>- 您是否知道每年应该到底购买多少RRSP最优吗？</p>
												<p>- 您是否知道RRSP什么时候提取最优？提取多少最优吗？</p>
											</div>
											<div class="modal-block">
												<h3 class="text-center">请联系我们进行免费咨询进行RRSP及养老退休规划</h3>
												<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
												<p>我们可以代理市场上的RESP投资产品：</p>
												<p>各大银行：TD, BMO, RBC ...</p>
												<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
												<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
		                  </div>
											<div class="modal-block">
												<h3 class="text-center">致电我们 416-856-5613</h3>
												<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
												<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
												<p>- 善用投资工具减低税务开支</p>
												<p>- 善用理财策略增加退休收入</p>
												<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
												<p>- 优化财富传承</p>
												<p>- 完善家庭财务规划</p>
		                  </div>
											<div class="modal-block">
												<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
											</div>
										</div>
										<div class="text-center">
											<button class="btn main-btn" data-dismiss="modal" type="button">
		                    <i class="fa fa-times"></i>
		                    关闭</button>
										</div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
			<!-- /about-modal -->

			<!-- /about-modal -->
			<div class="portfolio-modal modal fade" id="service-3" tabindex="-1" role="dialog" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="close-modal" data-dismiss="modal">
		            <div class="lr">
		              <div class="rl"></div>
		            </div>
		          </div>
		          <div class="container">
		            <div class="row">
		              <div class="col-lg-8 col-lg-offset-2">
										<div class="modal-body">
		                  <!-- Project Details Go Here -->
		                  <h2 class="text-uppercase text-center">OAS/GIS 养老金</h2>
											<div class="">
												<div class="modal-block">
													<img src="/images/word/3-1.jpg" class="img-responsive mx-auto" alt="">
												</div>
												<div class="modal-block">
													<p>北美福利虽好，但要过上衣食无忧、不为金钱烦恼的老年生活，还是需要提前做好准备，因为到了退休前再做打算已经为时已晚。</p>
													<p>根据Manulife统计：</p>
													<p>- 87%的加拿大人认为退休时应该没有债务缠身</p>
													<p>- 56%的加拿大人希望能在65岁时退休</p>
													<p>- 72%的加拿大为了自己无债的美好生活寻求专业理财顾问帮助</p>
												</div>
												<div class="modal-block">
													<h3 class="text-center">您的退休基金足够多了吗？</h3>
													<h3>老年金(Old Age Security，简称OAS)</h3>
													<p>加拿大政府的社会福利，你可以不需要任何工作或者贡献就能申请老年金。老年金系统包括几种福利: </p>
													<p>- 老年金OAS</p>
													<p>- 低保补助GIS</p>
													<p>- 配偶补助Allowance</p>
												</div>
												<div class="modal-block">
													<h3>获得老年金OAS的要求</h3>
													<p style="font-weight: bold;">- 如果住在加拿大</p>
													<ol>
														<li>65岁或以上</li>
														<li>居住在加拿大且是加拿大公民或者永久居民</li>
														<li>18岁以后在加拿大住满了10年</li>
													</ol>
													<p style="font-weight: bold; padding-top: 2rem;">- 如果没有住在加拿大</p>
													<ol>
														<li>65岁或以上</li>
														<li>当你离开加拿大时, 是加拿大公民或者永久居民</li>
														<li>18岁以后在加拿大住满了20年</li>
													</ol>
												</div>
												<div class="modal-block">
													<p>由于老年金是一种福利，所以跟收入有关。具体来讲，如果你除去老年金等以外的其他收入大于标准(目前标准是$73,765)，加拿大政府就会部分或者全部收回你的老年金。</p>
												</div>
												<div class="modal-block">
													<h3>低保补助(Guaranteed Income Supplement，简称GIS)</h3>
													<p>低保补助GIS是为低收入的老年人设计的。</p>
													<p>申请的条件:</p>
													<ol>
														<li>够资格领取老年金OAS</li>
														<li>收入低于政府每年公布的一个数值  (目前标准为单身人士年收入$17,544，低于这个数值，就够资格申领GIS)</li>
													</ol>
												</div>
												<div class="modal-block text-center">
													<h3>OAS+GIS 养老金</h3>
													<div class="row modal-row-border-bottom" style="font-weight: bold; font-size: 18px;">
														<div class="col-xs-4">
															Yearly Income (excluding OAS Pension and GIS)
														</div>
														<div class="col-xs-4">
															Monthly GIS with Maximum OAS Pension
														</div>
														<div class="col-xs-4">
															Combined Monthly OAS Pension and GIS
														</div>
													</div>
													<div class="row modal-row-border-bottom">
														<div class="col-xs-4">
															$0.00 - $23.99
														</div>
														<div class="col-xs-4">
															$876.23
														</div>
														<div class="col-xs-4">
															$1,462.89
														</div>
													</div>
													<div class="row modal-row-border-bottom">
														<div class="col-xs-4">
															$10,128.00 - $10,151.99
														</div>
														<div class="col-xs-4">
															$318.52
														</div>
														<div class="col-xs-4">
															$905.18
														</div>
													</div>
													<div class="row modal-row-border-bottom">
														<div class="col-xs-4">
															$14,880.00 - $14,903.99
														</div>
														<div class="col-xs-4">
															$120.52
														</div>
														<div class="col-xs-4">
															$707.18
														</div>
													</div>
													<div class="row modal-row-border-bottom">
														<div class="col-xs-4">
															$17,472.00 - $17,495.99
														</div>
														<div class="col-xs-4">
															$12.52
														</div>
														<div class="col-xs-4">
															$599.18
														</div>
													</div>
													<div class="row modal-row-border-bottom">
														<div class="col-xs-4">
															$17,760.00 - $17,783.99
														</div>
														<div class="col-xs-4">
															$0.52
														</div>
														<div class="col-xs-4">
															$587.18
														</div>
													</div>
												</div>

												<div class="modal-block text-center">
													<h3>收入对养老金的影响</h3>
													<img src="/images/word/3-2.png" class="img-responsive" alt="">
												</div>

												<div class="modal-block">
													<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
													<p>我们可以代理市场上的RESP投资产品：</p>
													<p>各大银行：TD, BMO, RBC ...</p>
													<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
													<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
			                  </div>
												<div class="modal-block">
													<h3 class="text-center">致电我们 416-856-5613</h3>
													<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
													<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
													<p>- 善用投资工具减低税务开支</p>
													<p>- 善用理财策略增加退休收入</p>
													<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
													<p>- 优化财富传承</p>
													<p>- 完善家庭财务规划</p>
			                  </div>
												<div class="modal-block">
													<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
												</div>
											</div>
											<div class="text-center">
												<button class="btn main-btn" data-dismiss="modal" type="button">
			                    <i class="fa fa-times"></i>
			                    关闭</button>
											</div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
				<!-- /about-modal -->

				<!-- /about-modal -->
				<div class="portfolio-modal modal fade" id="service-4" tabindex="-1" role="dialog" aria-hidden="true">
			      <div class="modal-dialog">
			        <div class="modal-content">
			          <div class="close-modal" data-dismiss="modal">
			            <div class="lr">
			              <div class="rl"></div>
			            </div>
			          </div>
			          <div class="container">
			            <div class="row">
			              <div class="col-lg-8 col-lg-offset-2">
											<div class="modal-body">
			                  <!-- Project Details Go Here -->
			                  <h2 class="text-uppercase text-center">定期/分红/万通人寿</h2>
												<div class="">
													<div class="modal-block">
														<h3>定期人寿保险Term Insurance</h3>
														<p>定期人寿保险一般包括十年定期(Term 10)、二十年定期(Term 20)、和终生定期(Term 100)。 Term 100多译为终生死亡忍受保险，尽管也是一种终生的保险，但特点认识与其他定期保险相同，保额不增长、没有任何投资部分、停止交保费保单即会被终止等。</p>
														<p>定期人寿保险是所有人寿保险种类中相对最为简单的。受保人缴付基本保费，在受保期间若发生死亡，保险公司赔偿所购保额；若没有发生意外，到期时保险公司就不再对受保人有任何义务，没有现金储蓄，也没有额外的资金投资。</p>
													</div>

													<div class="modal-block">
														<div class="">
															<p><a href="https://www.sunlife.ca/ca/Insurance/Life+insurance/Term+life+insurance?vgnLocale=en_CA" target="_blank">Sun Life永明人寿公司定期保险计划</a></p>
														</div>
														<div class="">
															<p><a href="https://www.canadalife.com/insurance/business-insurance/life-insurance/term-life-insurance.html" target="_blank">Canada Life加拿大人寿公司定期保险计划</a></p>
														</div>
														<div class="">
															<p><a href="https://ia.ca/term-life-insurance" target="_blank">Industrial Alliance国联人寿公司定期保险计划</a></p>
														</div>
														<div class="">
															<p><a href="https://www.manulife.ca/for-you/insurance/explore/life-insurance/term.html" target="_blank">Manulife宏利人寿公司定期保险计划</a></p>
														</div>
														<div class="">
															<p><a href="https://www.equitable.ca/en/our-products/individual-insurance/term/" target="_blank">Equitable Life恒信保险公司定期保险计划</a></p>
														</div>
													</div>

													<div class="modal-block">
														<h3>加拿大分红人寿保险 Participating Whole Life Insurance</h3>
														<p>这份保险计划能为您奠定保证价值基础， 并让您享有具税务优惠的增值。它使您有机会获得红利，是一个稳健和灵活性兼备的永久人寿保险。</p>
														<p>分红式终生人寿保险将所交保费分为保险成本和投资两大部分，投资部分由保险公司统一经营管理并将所得以分红方式发放给寿险投资人，<strong>投资免税增长</strong>。因此，分红保险不仅能拥有终身保险功能外，同时还能分享保险公司的经营所得。</p>
				                  </div>

													<div class="modal-block">
														<h3 class="text-center">分红式人寿保险的优点：</h3>
														<p>- 投资回报相对稳定</p>
														<p>- 税务能上延税、避税</p>
														<p>- 其收益一般均高于非注册型投资账户的定期储蓄、债券等投资</p>
														<p>- 无需自管投资</p>
														<div class="">
															<p><a href="https://cdn.equitable.ca/forms/unsecured/insurance/1038CHI.pdf" target="_blank">Equitable Life恒信保险公司分红人寿保险</a></p>
														</div>
														<div class="">
															<p><a href="https://cdn.sunlife.com/static/ca/Welcome%20to%20Sun%20Life%20Financial/870-4638.pdf" target="_blank">Sun Life永明人寿公司分红人寿保险</a></p>
														</div>
														<div class="">
															<p><a href="https://www.canadalife.com/insurance/personal-insurance/life-insurance/participating-life-insurance.html" target="_blank">Canada Life加拿大人寿公司分红人寿保险</a></p>
														</div>
				                  </div>

													<div class="modal-block">
														<h3>加拿大万能人寿保险 Universal Life Insurance 简称UL</h3>
														<p>万能人寿险 (投资人寿险) 也是终身人寿保险的一种。与分红保险相同，所交保费分为保险成本和投资两大部分，但投资部分不是由保险公司统一经营管理，而是由保单持有人在许可范围内自己选择投资方向和组合，同时也自己承担市场风险。</p>
														<p>由于风险需要自己承担，保险公司因此也就相应给了保单持有人更大的灵活性。需要有较高的投资经验或请我们给您投资指导。</p>
														<div class="">
															<p><a href="https://www.sunlife.ca/ca/Insurance/Life+insurance/Universal+life+insurance?vgnLocale=en_CA" target="_blank">Sun Life永明人寿公司万能人寿保险</a></p>
														</div>
														<div class="">
															<p><a href="https://www.canadalife.com/insurance/personal-insurance/life-insurance/universal-life-insurance.html" target="_blank">Canada Life加拿大人寿公司万能人寿保险</a></p>
														</div>
														<div class="">
															<p><a href="https://ia.ca/universal-life-insurance" target="_blank">Industrial Alliance国联人寿公司万能人寿保险</a></p>
														</div>
														<div class="">
															<p><a href="https://www.manulife.ca/for-you/insurance/explore/life-insurance/permanent/manulife-universal-life.html" target="_blank">Manulife宏利人寿公司万能人寿保险</a></p>
														</div>
														<div class="">
															<p><a href="https://www.equitable.ca/en/our-products/individual-insurance/universal-life/" target="_blank">Equitable Life恒信保险公司万能人寿保险</a></p>
														</div>
				                  </div>

													<div class="modal-block">
														<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
														<p>我们可以代理市场上的RESP投资产品：</p>
														<p>各大银行：TD, BMO, RBC ...</p>
														<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
														<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
				                  </div>
													<div class="modal-block">
														<h3 class="text-center">致电我们 416-856-5613</h3>
														<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
														<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
														<p>- 善用投资工具减低税务开支</p>
														<p>- 善用理财策略增加退休收入</p>
														<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
														<p>- 优化财富传承</p>
														<p>- 完善家庭财务规划</p>
				                  </div>
													<div class="modal-block">
														<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
													</div>

												</div>
												<div class="text-center">
													<button class="btn main-btn" data-dismiss="modal" type="button">
				                    <i class="fa fa-times"></i>
				                    关闭</button>
												</div>
			                </div>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
					<!-- /about-modal -->

					<!-- /about-modal -->
					<div class="portfolio-modal modal fade" id="service-5" tabindex="-1" role="dialog" aria-hidden="true">
				      <div class="modal-dialog">
				        <div class="modal-content">
				          <div class="close-modal" data-dismiss="modal">
				            <div class="lr">
				              <div class="rl"></div>
				            </div>
				          </div>
				          <div class="container">
				            <div class="row">
				              <div class="col-lg-8 col-lg-offset-2">
												<div class="modal-body">
				                  <!-- Project Details Go Here -->
				                  <h2 class="text-uppercase text-center">重疾保险</h2>
													<div class="">
														<div class="modal-block">
															<h3>重大危疾保险 Critical Illness</h3>
															<p>当被诊断出重大危疾时，您和您的家人在心理上和经济上都会面临很多的压力。不想财务问题成为你的压力来源，个人危疾保险为您提供一次过的赔偿金，让您自由运用，灵活地配合您的理财需要。这样可以大大减少您经济上的压力，可以安心治疗，早日康复。</p>
														</div>

														<div class="modal-block">
															<img src="/images/word/5-1.png" class="img-responsive mx-auto" alt="">
															<img src="/images/word/5-2.png" class="img-responsive mx-auto" alt="">
														</div>

														<div class="modal-block">
															<p>重大疾病保险是指受保人一旦确诊在受保范围内的任何疾病即可获得保单规定额度的赔偿，受保人可以自由使用该笔赔偿于任何目的。</p>
															<p>不同公司及其重大疾病保险计划并不相同，具体受保疾病需向我们或专业的持牌保险经纪咨询。</p>
														</div>

														<div class="modal-block">
															<h3>重大疾病保险承保范围</h3>
															<p>通常客户可选择基本保险和增强保险两大类</p>
															<p>主要包括癌症（Cancer），中风 (Stroke) 和心肌梗死 (Heart Attack)，有些公司还提供心脏冠状动脉搭桥手术（Coronary Bypass Surgery），老年痴呆症(Alzheimer’s disease)，良性脑肿瘤(Benign brain tumor)，肾衰竭（Kidney failure），柏金森症（Parkinson’s disease），大动脉手术(Aortic surgery), 失明(Blindness)，长期昏迷(Coma)，失聪(Deafness)，换心瓣(Heart valve replacement), 断肢(Loss of limbs)，丧失说话能力(Loss of speech)，主要器官移植（Major organ transplant），轮候主要器官移植(Major organ transplant waiting list)，运动神经元疾病(Motor neuron disease) ，多发性硬化症(Multiple Sclerosis)，瘫痪(Paralysis) 和严重烧伤（Severe burns）等等。</p>
														</div>

														<div class="modal-block">
															<h3>重大疾病保险危疾保险有哪些选择？</h3>
															<p>一般来说, 承保期限有以下三种选择：</p>
															<ol>
																<li>Term10或Term20 这类似人寿保险中的Term10或Term20，价格每隔10年或20呈阶段性递增， 年轻时价格较低，年老时,非常昂贵，一般承保到75岁。</li>
																<li>Term75或Term65就是只承保到75岁或65岁，大多数公司的产品价格是保证固定不变的，也有些公司推出了一些价格不保证不变的产品。</li>
																<li>Term100，就是承保终生。</li>
															</ol>
														</div>

														<div class="modal-block">
															<h3>返还保费的选择</h3>
															<p>保险公司一般都提供返还保险费的选择，即在保险合同到期，或交费满一定年限后，若无索赔发生可将保险费退还给客户。</p>
															<p>但在返还保费的灵活性上各有不同。综合下来, 主要有以下几种。</p>
															<ol>
																<li>期满返还。只有到75岁或65岁合同到期时才可以返还。</li>
																<li>合同持续到65岁或60岁, 允许部分或全部返还，部分返还一般以65%左右为起点，以后逐年递增，到75岁100% 返还。</li>
																<li>合同持续满若干年后(10年或15年)100%返还。</li>
																<li>只有在合同的第10周年或其它周年时才予以部分或全部返还。</li>
															</ol>
														</div>

														<div class="modal-block">
															<div class="">
																<p><a href="https://www.sunlife.ca/ca/Insurance/Health+insurance/Critical+illness+insurance?vgnLocale=en_CA" target="_blank">Sun Life永明人寿公司重大疾病保险</a></p>
															</div>
															<div class="">
																<p><a href="https://www.canadalife.com/insurance/personal-insurance/critical-illness-insurance.html" target="_blank">Canada Life加拿大人寿公司重大疾病保险</a></p>
															</div>
															<div class="">
																<p><a href="https://ia.ca/critical-illness-insurance" target="_blank">Industrial Alliance国联人寿公司重大疾病保险</a></p>
															</div>
															<div class="">
																<p><a href="https://www.manulife.ca/for-you/insurance/explore/health-insurance/critical-illness.html" target="_blank">Manulife宏利人寿公司重大疾病保险</a></p>
															</div>
															<div class="">
																<p><a href="https://www.equitable.ca/en/our-products/individual-insurance/critical-illness/ " target="_blank">Equitable Life恒信保险公司重大疾病保险</a></p>
															</div>
					                  </div>

														<div class="modal-block">
															<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
															<p>我们可以代理市场上的RESP投资产品：</p>
															<p>各大银行：TD, BMO, RBC ...</p>
															<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
															<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
					                  </div>
														<div class="modal-block">
															<h3 class="text-center">致电我们 416-856-5613</h3>
															<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
															<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
															<p>- 善用投资工具减低税务开支</p>
															<p>- 善用理财策略增加退休收入</p>
															<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
															<p>- 优化财富传承</p>
															<p>- 完善家庭财务规划</p>
					                  </div>
														<div class="modal-block">
															<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
														</div>

													</div>
													<div class="text-center">
														<button class="btn main-btn" data-dismiss="modal" type="button">
					                    <i class="fa fa-times"></i>
					                    关闭</button>
													</div>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
						<!-- /about-modal -->

						<!-- /about-modal -->
						<div class="portfolio-modal modal fade" id="service-6" tabindex="-1" role="dialog" aria-hidden="true">
					      <div class="modal-dialog">
					        <div class="modal-content">
					          <div class="close-modal" data-dismiss="modal">
					            <div class="lr">
					              <div class="rl"></div>
					            </div>
					          </div>
					          <div class="container">
					            <div class="row">
					              <div class="col-lg-8 col-lg-offset-2">
													<div class="modal-body">
					                  <!-- Project Details Go Here -->
					                  <h2 class="text-uppercase text-center">旅游保险</h2>
														<div class="">
															<div class="modal-block">
																<img src="/images/word/6-1.jpg" class="img-responsive mx-auto" alt="">
															</div>
															<div class="modal-block">
																<h3>适用人群及受保资格</h3>
																<p>“加拿大访客保险计划”针对来访的朋友、亲属、等待加入省医疗保险计划的已登陆移民或返回加拿大的公民，以及以工作或学生签证到来加拿大的人士。</p>
															</div>
															<div class="modal-block">
																<h3 class="text-center">超级签证/ 访加旅游保险/境外旅游保险</h3>
																<div class="row modal-row-border-bottom text-center" style="font-weight: bold; font-size: 18px;">
																	<div class="col-xs-5">
																		每天保费<br />$1.70起
																	</div>
																	<div class="col-xs-4">
																		最高保额500万<br />每天保费$1.99起
																	</div>
																	<div class="col-xs-3">
																		最高保额500万<br />每天保费$1.60起
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-5">
																		<p>加拿大的医疗费用非常昂贵，医生门诊费在$80-150左右，住院费每天$2500-$3200，ICU每天$4000-$5000. 这其中还不包括各项检查和手术费用，有了旅游保险，就可以保障您和您的家人一个无忧无虑的加拿大之行！</p>
																	</div>
																	<div class="col-xs-4">
																		<p>当您离开加国外出旅游时，一定希望旅途一路平安，但是突发的紧急事故和病痛，政府的医疗计划保障非常有限，住院每天保$200，门诊每天保$50。为保障你和家人旅游安康，购买一份外出医疗保险。</p>
																	</div>
																	<div class="col-xs-3">
																		<p>无论是就读公立或私立学校，一份保险单是必不可少的。覆盖的范围之广和保障程度之高足以家长放心、孩子安心学习。</p>
																	</div>
																</div>
															</div>

															<div class="modal-block text-center">
																<h3>承保的主要内容 <span style="font-size: 15px">（*不同公司存在差异*）</span></h3>
																<div class="row modal-row-border-bottom" style="font-weight: bold; font-size: 18px;">
																	<div class="col-xs-4">
																		最高赔偿额
																	</div>
																	<div class="col-xs-8">
																		以实际购买的保额为限
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		门诊病人收费
																	</div>
																	<div class="col-xs-8">
																		急诊、门诊、医生诊所等
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		住院费用
																	</div>
																	<div class="col-xs-8">
																		包括医院内外治疗的所有费用
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		检查费
																	</div>
																	<div class="col-xs-8">
																		包括X-Ray,实验室检查费等
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		紧急运送
																	</div>
																	<div class="col-xs-8">
																		救护车
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		处方药费
																	</div>
																	<div class="col-xs-8">
																		住院-全额保. 门诊以$500或30日药量为限
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		牙科
																	</div>
																	<div class="col-xs-8">
																		牙痛，最高限额$500，压腔意外受伤，最高限额$3000
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		医疗用具
																	</div>
																	<div class="col-xs-8">
																		石膏、夹板、支架、拐杖、租轮椅、疝气带等
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		辅助专科医师
																	</div>
																	<div class="col-xs-8">
																		手足科,脊柱治疗,骨科物理治疗,每项专科最高限额$500, 由保险公司事先批准
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		航空意外险
																	</div>
																	<div class="col-xs-8">
																		最高达所购买的保额
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		送返治疗
																	</div>
																	<div class="col-xs-8">
																		由保险公司事先批准
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		针灸
																	</div>
																	<div class="col-xs-8">
																		只针对购买一年保单的客人,最高限额$500
																	</div>
																</div>
																<div class="row modal-row-border-bottom">
																	<div class="col-xs-4">
																		送返已故受保人
																	</div>
																	<div class="col-xs-8">
																		最高限额$10,000(不包棺木费用）在死亡地火藏/土葬，最高限额$4,000（不包棺木和骨灰盒费用）
																	</div>
																</div>
															</div>

															<div class="modal-block">
																<h3>什么时候购买旅游保险？</h3>
																<p>通常建议在出国前购买旅游保险，保险会在抵达加拿大的同时生效。这样可以有效地避免等候期。如果到达加拿大再购买旅游保险会有2天到7天的等候期。</p>
															</div>

															<div class="modal-block">
																<h3>保费如何计算？</h3>
																<p>保费是根据年龄，按天来计算。垫底费选择多：0，100， 500, 1000。垫底费越高，保费越便宜。各个保险公司对垫底费的解释也有所不同，有的公司垫底费是per claim, 也就是说如果客人发生理赔，每次理赔客人都需要支付垫底费。有的保险公司的垫底费是按照受保期间算的，也就是说客人在受保期间只需要支付一次垫底费，超过垫底费的费用由保险公司承担。客人在购买旅游保险的时候需要在专业保险经纪帮助下搞清楚条款细节，这样就不会在真正发生理赔的时候引起纠纷。</p>
															</div>

															<div class="modal-block">
																<h3>如果提前回国，能不能退保费？</h3>
																<p>如果在加拿大旅游期间没有发生理赔，客人因为各种原因需要提前回国，可以向保险公司申请退还保费。保险公司收取小额手续费。</p>
															</div>

															<div class="modal-block">
																<h3>保险公司是不是承保稳定的慢性病？</h3>
																<p>如果客人有慢性病，但是在过去90天到180天病情稳定（每个公司对于稳定期定义有所不同）。这个慢性病也是在承保范围。</p>
															</div>

															<div class="modal-block">
																<h3>境外旅行有没有保障？</h3>
																<p>如果您的行程至少50%在加拿大境内停留，那么旅游保险计划也保障去其他国家的短程旅行。</p>
															</div>

															<div class="modal-block">
																<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
																<p>我们可以代理市场上的RESP投资产品：</p>
																<p>各大银行：TD, BMO, RBC ...</p>
																<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
																<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
						                  </div>
															<div class="modal-block">
																<h3 class="text-center">致电我们 416-856-5613</h3>
																<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
																<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
																<p>- 善用投资工具减低税务开支</p>
																<p>- 善用理财策略增加退休收入</p>
																<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
																<p>- 优化财富传承</p>
																<p>- 完善家庭财务规划</p>
						                  </div>
															<div class="modal-block">
																<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
															</div>

														</div>
														<div class="text-center">
															<button class="btn main-btn" data-dismiss="modal" type="button">
						                    <i class="fa fa-times"></i>
						                    关闭</button>
														</div>
					                </div>
					              </div>
					            </div>
					          </div>
					        </div>
					      </div>
					    </div>
							<!-- /about-modal -->

							<!-- /about-modal -->
							<div class="portfolio-modal modal fade" id="service-7" tabindex="-1" role="dialog" aria-hidden="true">
						      <div class="modal-dialog">
						        <div class="modal-content">
						          <div class="close-modal" data-dismiss="modal">
						            <div class="lr">
						              <div class="rl"></div>
						            </div>
						          </div>
						          <div class="container">
						            <div class="row">
						              <div class="col-lg-8 col-lg-offset-2">
														<div class="modal-body">
						                  <!-- Project Details Go Here -->
						                  <h2 class="text-uppercase text-center">TFSA注册免税储蓄账户</h2>
															<div class="">
																<div class="modal-block">
																	<img src="/images/word/7-1.png" class="img-responsive mx-auto" alt="">
																</div>
																<div class="modal-block">
																	<p>免税储蓄账户(Tax-Free Savings Account，简称TFSA)是一个帮您实现短期及长期(包括舒适的退休生活)目标的好方法。</p>
																	<p>这是因为在免税储蓄账户里的投资收入，即使在提取时也无需缴税。这种免税的复合增长意味着，您在TFSA里的资金会比存在其他账户内的增长得更快。</p>
																</div>

																<div class="modal-block">
																	<h3>我可以缴纳多少供款？</h3>
																	<ul>
																		<li>2017年的免税储蓄账户供款限额为$5,500。2009年至2012年的年度供款限额为$5,000。2013年至2014年的年度供款限额为$5,500。2015年的年度供款限额为$10,000。2016年的年度供款限额为$5,500。</li>
																		<li>历年任何未使用的供款额度均可结转。举例而言，假如您此前从未向免税储蓄账户供款，则在2017年，您最高可供款$52,000。</li>
																	</ul>
																</div>

																<div class="modal-block">
																	<h3>通过免税储蓄账户，您可以将自己的储蓄变为符合资格的投资，比如：</h3>
																	<ul>
																		<li>互惠基金 Mutual Fund</li>
																		<li>定期存款／担保投资证Guaranteed Investment Certificate</li>
																		<li>股票 Stock</li>
																		<li>债券 Bond</li>
																	</ul>
																</div>

																<div class="modal-block">
																	<div class="">
																		下面的图表显示，以每年赚取8%的利息为例，每月的$450供款将在TFSA内及TFSA外增长差距，省下$47,729的税！
																	</div>
																	<img src="/images/word/7-2.png" class="img-responsive mx-auto" alt="">
																	<figcaption style="font-size: 12px;">（假设年收入6万，而利息收入将按年缴税。所有供款均于年初进行。年复利回报率为8%。此图只作说明用途，并非未来回报的指标。实际税率及回报率将有所变动。）</figcaption>
																</div>

																<div class="modal-block">
																	<strong>对于生活在加拿大的多数人来讲，收入是必不可少的，而税务问题又将伴随终生，所以理财、优税是很重要的事情。</strong>
																</div>

																<div class="modal-block">
																	<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
																	<p>我们可以代理市场上的RESP投资产品：</p>
																	<p>各大银行：TD, BMO, RBC ...</p>
																	<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
																	<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
							                  </div>
																<div class="modal-block">
																	<h3 class="text-center">致电我们 416-856-5613</h3>
																	<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
																	<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
																	<p>- 善用投资工具减低税务开支</p>
																	<p>- 善用理财策略增加退休收入</p>
																	<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
																	<p>- 优化财富传承</p>
																	<p>- 完善家庭财务规划</p>
							                  </div>
																<div class="modal-block">
																	<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
																</div>
															</div>

															<div class="text-center">
																<button class="btn main-btn" data-dismiss="modal" type="button">
							                    <i class="fa fa-times"></i>
							                    关闭</button>
															</div>
						                </div>
						              </div>
						            </div>
						          </div>
						        </div>
						      </div>
						    </div>
								<!-- /about-modal -->

								<!-- /about-modal -->
								<div class="portfolio-modal modal fade" id="service-8" tabindex="-1" role="dialog" aria-hidden="true">
							      <div class="modal-dialog">
							        <div class="modal-content">
							          <div class="close-modal" data-dismiss="modal">
							            <div class="lr">
							              <div class="rl"></div>
							            </div>
							          </div>
							          <div class="container">
							            <div class="row">
							              <div class="col-lg-8 col-lg-offset-2">
															<div class="modal-body">
							                  <!-- Project Details Go Here -->
							                  <h2 class="text-uppercase text-center">房屋贷款</h2>
																<div class="">
																	<div class="modal-block">
																		<!-- <h3 class="text-center">房屋贷款</h3> -->
																		<img src="/images/word/8-1.png" class="img-responsive mx-auto" alt="">
																	</div>
																	<div class="modal-block">
																		<h3>什么是固定利率（Fixed Rate）？</h3>
																		<p>固定利率贷款让你能够在贷款合同期内“锁定”一个事先决定好的利率。市场上的固定利率产品大部分为1-5 年期限的。固定利率贷款因为在合同期内月供和利率不变，所以给你带来更安心、安全的感觉。这样可以让你更容易制定财务规划和预算。</p>
																	</div>

																	<div class="modal-block">
																		<h3>什么是浮动利率（Variable Rate）？</h3>
																		<p>浮动利率根据借贷机构的贷款基准利率的变化而改变。浮动利率的利息通常以Prime rate – discount rate 来表示。例如：P-0.35，表示实际利率是基准利率减去0.35%，目前基准利率是2.7%，则实际利率2.7-0.35=2.35%。但当Prime Rate 发生变化时，你的实际利率就会随之变动，而折扣点则保持不变。</p>
																		<p>选择浮动利率贷款要对利率的变化多少有些财务上和心理上的准备。如果一想到利率上涨要每月多付几百块钱的利息就睡不着觉，那浮动利率显然不适合你。</p>
																	</div>

																	<div class="modal-block text-center">
																		<h3>固定利率和浮动利率的比较</h3>
																		<div class="row modal-row-border-bottom" style="font-weight: bold; font-size: 18px;">
																			<div class="col-xs-5 col-xs-offset-2">
																				固定利率
																			</div>
																			<div class="col-xs-5">
																				浮动利率
																			</div>
																		</div>
																		<div class="row modal-row-border-bottom">
																			<div class="col-xs-2">
																				定义
																			</div>
																			<div class="col-xs-5">
																				允许在封闭的贷款合同期限内锁定一个利率
																			</div>
																			<div class="col-xs-5">
																				根据贷款基准利率上下浮动
																			</div>
																		</div>
																		<div class="row modal-row-border-bottom">
																			<div class="col-xs-2">
																				优点
																			</div>
																			<div class="col-xs-5">
																				确切知道每个月的月供额
																			</div>
																			<div class="col-xs-5">
																				通常利率比固定贷款利率低。而月供额往往也是不变的，利率的变化体现为摊销期的增减
																			</div>
																		</div>

																		<div class="row modal-row-border-bottom">
																			<div class="col-xs-2">
																				风险
																			</div>
																			<div class="col-xs-5">
																				通常付较高的利息因为没有利率变动风险
																			</div>
																			<div class="col-xs-5">
																				担心利率上涨，会使月供增加
																			</div>
																		</div>

																		<div class="row modal-row-border-bottom">
																			<div class="col-xs-2">
																				对风险的容忍度
																			</div>
																			<div class="col-xs-5">
																				低
																			</div>
																			<div class="col-xs-5">
																				高
																			</div>
																		</div>

																		<div class="row modal-row-border-bottom">
																			<div class="col-xs-2">
																				受什么影响
																			</div>
																			<div class="col-xs-5">
																				加拿大政府同期债券收益率
																			</div>
																			<div class="col-xs-5">
																				加拿大央行隔夜拆借利率
																			</div>
																		</div>

																		<div class="row modal-row-border-bottom">
																			<div class="col-xs-2">
																				提前解约的罚金
																			</div>
																			<div class="col-xs-5">
																				三个月的利息与贷款剩余期限的息差（IRD）中较高者
																			</div>
																			<div class="col-xs-5">
																				三个月利息
																			</div>
																		</div>
																	</div>

																	<div class="modal-block">
																		<p>了解您能贷款到多少金额：<a href="https://zh-tools.td.com/mortgage-affordability-calculator/" target="_blank">明道银行房贷计算机</a></p>
								                  </div>

																	<div class="modal-block">
																		<h2 class="text-center">房屋继承</h2>
																		<img src="/images/word/8-2.jpg" class="img-responsive mx-auto" alt="">
																	</div>

																	<div class="modal-block">
																		<p>近几年加拿大房地产市场一路飙升，这让热衷于房地产的华人们兴奋不已，纷纷挤入房地产市场，买买买的热潮一浪高过一浪。</p>
																		<p>从B20贷款新政出台之后，房产市场回归冷静，更多人也开始反思自己手中持有的房产该何去何从，为孩子操碎了心的家长们更想知道如何才能将已增值的房产过渡到孩子手中。</p>
																	</div>

																	<div class="modal-block">
																		<h3 class="text-center">案例分析</h3>
																		<div class="mb-2" style="font-style: italic">
																			<p>客户张女士背景：我和我丈夫想让儿子拥有出租房屋的所有权，基于意识到我们将支付10％的资本利得，准备给儿子10％的产权，其余计划将放入信托。</p>
																			<p>张女士的问题：在我们的死亡时，这10％的产权是否足以让我们的出租房在没有征税和遗嘱认证费的情况下转入儿子名下？</p>
																		</div>
																		<p>相信这是当下持有多套房的家长们普遍想知道的问题，今天就让我们来探讨这个重要话题。</p>
																	</div>

																	<div class="modal-block">
																		<h3 class="text-center">资本利得税(capital gain)和遗产印证费(probate)</h3>
																		<p><strong>对于出租物业：</strong>在夫妻双方中的一方去世时，物业可以转给配偶，不需要缴纳任何资本利得税(capital gain)。如果是共同财产，一方去世也不会有产生遗产印证费(probate)。</p>
																		<p class="text-center">在夫妻双方第二人发生死亡时，将需要支付资本利得税。</p>
																		<p>在第二人发生死亡时，房产将会按当时的市场价值计算，减去你购入时的成本，得到资本收益的数额，其中的50％需缴纳资本利得税，这笔应征税款将会出现在您的最终纳税申报表(final tax)。由于受到您居住的省份和其他收入总额影响，资本收益的应纳税额可高达27％。</p>
																		<p>也就是说100万买入的房子，过世时市值200万，总增值额的100万中50%需进行交税，按安省最高个人税阶来算，要交超过25万的增值税，如果无法支付，那将面临遗产房拍卖等繁琐流程。因此，拥有多处房产的人们！请一定要注意！！！</p>
																	</div>

																	<div class="modal-block">
																		<h4>误区：以较低的估值将房产转嫁给您的孩子可以避税</h4>
																		<p>如果您的财产以较低的估值转嫁给您的孩子，您无法避免资本收益。</p>
																		<p>在夫妻二人都过世时，您的财产被视为“出售”，并以市场价值计算。现在或未来赠送财产也同样按市场价值视为销售。</p>
																		<p>如果您多年来申报出租物业折旧，所有这些折旧都在出售当年“重新征收” (在这种情况下是死亡年份)。按您的正常税率征税，税率可高达54％。</p>
																		<h4 class="text-center">所以遗产传承规划刻不容缓，不然可能会有很大的税收冲击。</h4>
																	</div>

																	<div class="modal-block">
																		<h4>误区：加拿大没有遗产税，费用不高</h4>
																		<p>每个省都有不同的遗嘱认证费用来验证遗嘱，并允许遗嘱执行人分配资产。<strong style="color: red;">安大略省的遗嘱认证费在全国最高，为$5万以内财产征收0.5%，超过部分增收财产额的 1.5%。</strong>在其他一些省份，遗嘱认证可以忽略不计。因此，安大略省的一个$100万的出租房产（除了其他房地产资产外）可能会涉及$15,000的遗嘱费用。</p>
																		<p>如果您现在把10％的出租物业所有权转给您的孩子，您将被视为以当前市场价格出售10%，资本增值税将相应支付。但这也意味着未来剩余90%产权的资本增值税仍然应该在夫妻过世时相应征税。</p>
																	</div>

																	<div class="modal-block">
																		<h3 class="text-center">信托(Trust)知多少</h3>
																		<p>信托能很好的建立受托人为受益人管理资产的法律关系。使用信托可以帮助您减少资本利得税或遗嘱认证。但是有不同类型的信托和不同的好处。</p>
																		<p>您可以与您的孩子建立信托，夫妻双方可以成为受托人。但是，如果您将90％的财产转入信托，您将当年产生资本利得税，也有可能需要缴付土地转让税。</p>
																		<p>建立信托的成本基本至少需要$5000。对于只持有出租物业的信托，成本每年可能为$1,000或更多。</p>
																		<p>好处是你会避免死亡时的遗嘱费，而未来的资本利得税可能会产生于孩子身上，资产增值税将在信托中产生，如果信托结构合理，可以允许他将资本利得税推迟到他出售或直到他去世。</p>
																	</div>

																	<div class="modal-block">
																		<h4>如何配置各种类型的资产；如何采用合理策略来确保家庭资产完整传承；怎样才能打破“富不过三代”的说法？我们为您答疑解惑，为您的下一代创造更高起点，让您的家庭财富安稳无忧！</h4>
																	</div>

																	<div class="modal-block">
																		<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
																		<p>我们可以代理市场上的RESP投资产品：</p>
																		<p>各大银行：TD, BMO, RBC ...</p>
																		<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
																		<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
								                  </div>
																	<div class="modal-block">
																		<h3 class="text-center">致电我们 416-856-5613</h3>
																		<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
																		<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
																		<p>- 善用投资工具减低税务开支</p>
																		<p>- 善用理财策略增加退休收入</p>
																		<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
																		<p>- 优化财富传承</p>
																		<p>- 完善家庭财务规划</p>
								                  </div>
																	<div class="modal-block">
																		<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
																	</div>

																</div>
																<div class="text-center">
																	<button class="btn main-btn" data-dismiss="modal" type="button">
								                    <i class="fa fa-times"></i>
								                    关闭</button>
																</div>
							                </div>
							              </div>
							            </div>
							          </div>
							        </div>
							      </div>
							    </div>
									<!-- /about-modal -->

									<!-- /about-modal -->
									<div class="portfolio-modal modal fade" id="service-9" tabindex="-1" role="dialog" aria-hidden="true">
								      <div class="modal-dialog">
								        <div class="modal-content">
								          <div class="close-modal" data-dismiss="modal">
								            <div class="lr">
								              <div class="rl"></div>
								            </div>
								          </div>
								          <div class="container">
								            <div class="row">
								              <div class="col-lg-8 col-lg-offset-2">
																<div class="modal-body">
								                  <!-- Project Details Go Here -->
								                  <h2 class="text-uppercase text-center">税务优化</h2>
																	<div class="">
																		<div class="modal-block">
																			<img src="/images/word/9-1.png" class="img-responsive mx-auto" alt="">
																		</div>
																		<div class="modal-block">
																			<p>对于生活在加拿大的多数人来讲，收入是必不可少的，而税务问题又将伴随终生，所以理财、优税是很重要的事情。</p>
																		</div>

																		<div class="modal-block text-center">
																			<h4>别等报税才想到优税</h4>
																			<h4>必须早些规划您的个人税务</h4>
																		</div>

																		<div class="modal-block text-center">
																			<p>↓↓2017税表↓↓</p>
																			<img src="/images/word/9-2.png" class="img-responsive mx-auto" alt="">
																		</div>

																		<div class="modal-block">
																			<h3>常见的减税项目包括：</h3>
																			<p>- 注册退休储蓄计划的存款 (RRSP/Pension contributions)</p>
																			<p>- 托儿费用 (Childcare expense)</p>
																			<p>- 工会或专业资格会员费 (Union due / Professional membership due)</p>
																			<p>- 搬家费 (Moving expense)</p>
																			<p>- 赡养费 (Support payment)</p>
																			<p>- 投资费用 (Interest & Management Fees)</p>
																			<p>- 往年累计的生意亏损 (Partnership & Non-capital losses)</p>
																			<p>- 资产买卖亏损 (Capital losses)</p>
																		</div>

																		<div class="modal-block">
																			<h3 style="color: teal;">这些您了解吗？</h3>
																			<ul>
																				<li><strong>如果您喜欢房产投资</strong>，面对不断上涨的贷款利率，如何选用不同银行系统在不需自己额外供款的前提下，提早还清房贷；如何把家庭最重的负担——房贷利息，有机会变成税务优惠，让房主年终产生退税收入。</li>
																				<li><strong>如果您喜欢基金投资</strong>，找不到好的投资渠道，家庭资产呆滞在GIC中，如何让投资保本及获取终身稳定收入；CRA认可的账户资产免税增长, 及提款不影响老年福利。</li>
																			</ul>
																		</div>

																		<div class="modal-block">
																			<h4>税务优化需要从日常做起，对于企业来说有更多的税务优惠可以享受，请联系我们获取更多精华资讯！</h4>
																		</div>

																		<div class="modal-block">
																			<h3 class="text-center">我们可以中立的为您提供最佳选择！</h3>
																			<p>我们可以代理市场上的RESP投资产品：</p>
																			<p>各大银行：TD, BMO, RBC ...</p>
																			<p>各大保险公司：Manulife, IA, Sun Life, Canada Life ...</p>
																			<p>各大专业基金公司：Fidelity, Dynamic, CI, Mackenzie ...</p>
									                  </div>
																		<div class="modal-block">
																			<h3 class="text-center">致电我们 416-856-5613</h3>
																			<h3 class="text-center">我们的团队可随时为您答疑解惑，并协助您提交申请。</h3>
																			<p>- 善用理财策略，有机会加快 5-10 年完成房屋贷款</p>
																			<p>- 善用投资工具减低税务开支</p>
																			<p>- 善用理财策略增加退休收入</p>
																			<p>- 善用政府注册账戶, 达到最佳延税及免税效果</p>
																			<p>- 优化财富传承</p>
																			<p>- 完善家庭财务规划</p>
									                  </div>
																		<div class="modal-block">
																			<img src="/images/word/bottom.png" class="img-responsive mx-auto" alt="">
																		</div>
																	</div>
																	<div class="text-center">
																		<button class="btn main-btn" data-dismiss="modal" type="button">
									                    <i class="fa fa-times"></i>
									                    关闭</button>
																	</div>
								                </div>
								              </div>
								            </div>
								          </div>
								        </div>
								      </div>
								    </div>
										<!-- /about-modal -->

				<!-- About -->
				<div id="category" class="section sm-padding" >
					<!-- Background Image -->
					<div class="bg-img" style="background-image: url('/images/footer.jpg');">
						<div class="overlay"></div>
					</div>

					<!-- Container -->
					<div class="container">

						<!-- Row -->
						<div class="row">

							<!-- Section header -->
							<div class="text-center">
								<h2 class="title white-text">财务规划</h2>
								<h2 class="title white-text">Financial Plan</h2>
							</div>
							<!-- /Section header -->

							<!-- about -->
							<div class="col-md-4">
								<div class="text-center category">
									<img src="/images/investment.png" class="img-responsive" alt="投资/税务规划">
									<p class="mt-2 white-text">投资/税务规划</p>
								</div>
							</div>
							<!-- /about -->

							<!-- about -->
							<div class="col-md-4">
								<div class="text-center category">
									<img src="/images/Mortgage.png" class="img-responsive" alt="投资/税务规划">
									<p class="mt-2 white-text">房贷/风险规划</p>
								</div>
							</div>
							<!-- /about -->

							<!-- about -->
							<div class="col-md-4">
								<div class="text-center category">
									<img src="/images/retirement.png" class="img-responsive" alt="投资/税务规划">
									<p class="mt-2 white-text">退休/传承规划</p>
								</div>
							</div>
							<!-- /about -->

						</div>
						<!-- /Row -->

					</div>
					<!-- /Container -->

				</div>
				<!-- /About -->

				<!-- Image Showcases -->
		    <section class="showcase">
		      <div class="container-fluid p-0">
						<div class="row no-gutters">
		          <div class="col-lg-6 text-white showcase-img" style="background-image: url('/images/投资税务计划.jpeg');"></div>
		          <div class="col-lg-6 my-auto showcase-text">
		            <h2>投资/税务规划</h2>
								<div class="mb-0">
		            	<ul>
										<li>增加现金流Increase Cash Flow</li>
										<li>资产累积Wealth Accumulation</li>
										<li>教育规划Education Planning</li>
										<li>健康信托Health & Welfare Trust</li>
										<li>优税型投资Tax Advantage Investment</li>
										<li>风险管理Risk Management</li>
		            	</ul>
		            </div>
		          </div>
		        </div>
		        <div class="row no-gutters">

		          <div class="col-lg-6 col-lg-push-6  text-white showcase-img" style="background-image: url('/images/房贷 风险规划.jpeg');"></div>
		          <div class="col-lg-6 col-lg-pull-6  my-auto showcase-text">
		            <h2>房贷/风险规划</h2>
		            <div class="mb-0">
		            	<ul>
										<li>节省利息Save Interest</li>
										<li>债务管理Manage Debt</li>
										<li>提早供完Payoff Faster</li>
										<li>应急资金Emergency Fund</li>
										<li>必要保障Necessary Protection</li>
										<li>资产保全Preserve Estate</li>
		            	</ul>
		            </div>
		          </div>
		        </div>
		        <div class="row no-gutters">
		          <div class="col-lg-6 text-white showcase-img" style="background-image: url('/images/AdobeStock_126525020.jpeg');"></div>
		          <div class="col-lg-6 my-auto showcase-text">
		            <h2>退休/传承规划</h2>
								<div class="mb-0">
		            	<ul>
		            		<li>退休规划Retirement Planning</li>
										<li>必要保障Necessary Protection</li>
										<li>资产保全Preserve Estate</li>
										<li>企业财富转移Corporate Wealth Transfer</li>
										<li>财富传承Wealth Transfer</li>
		            	</ul>
		            </div>
		          </div>
		        </div>
		      </div>
		    </section>


	<!-- Why Choose Us -->
	<div id="features" class="features-section">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-8">
					<div class="section-header">
						<h2 class="title grey-text">专业创造价值</h2>
					</div>
					<div class="feature-infomation">
						<p>我们对投资理财充满激情，对待客户的财富犹如对待我们自己一样。运用多年积淀的经验及最佳实践，结合一流的服务和产品，为您高效解决加拿大财务难题，创造成效。我们会妥善保护您的家庭财富，确保您的财富以极健康的状态永相随。</p>
						<p>稳健的投资理念、专业的理财经验、极高的道德标准！</p>
						<ul>
							<li>全面的代理：充分比较，保证最佳</li>
							<li>专家的资质：专业，权威，精确</li>
							<li>团队的服务：全面，周到，贴心</li>
						</ul>
					</div>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-4">
					<img class="img-responsive mx-auto" src="/images/sally.png" alt="Sally Cao">
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->


	<div id="services-features" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/footer.jpg');">
			<div class="overlay"></div>
		</div>

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">一站式五星服务</h2>
				</div>
				<!-- /Section header -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/profession1.png" alt="专业权威">
						<span class="white-text">专业权威</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/profession2.png" alt="量身打造">
						<span class="white-text">量身打造</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/profession3.png" alt="产品可靠">
						<span class="white-text">产品可靠</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/profession4.png" alt="便捷服务">
						<span class="white-text">便捷服务</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-5ths col-xs-6">
					<div class="number">
						<img src="/images/profession5.png" alt="贴心售后">
						<span class="white-text">贴心售后</span>
					</div>
				</div>
				<!-- /number -->
			</div>
		</div>

	</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
	var largest = 0; //start with 0

	$(".blog").each(function(){ //loop through each section
	   var findHeight = $(this).height(); //find the height
	   if(findHeight > largest){ //see if this height is greater than "largest" height
	      largest = findHeight; //if it is greater, set largest height to this one
	   }
	});

	$(".blog").css({"height":largest+"px"});

	$("#about-details").css({"height":$("#about-image").height()+"px"});
</script>
