<!-- Header -->
	<header>

		<!-- Nav -->
		<nav id="nav" class="navbar">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="/images/logo.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="/#home">首页</a></li>
					<li><a href="/#portfolio">服务与产品</a></li>
					<li><a href="/#category">解决方案</a></li>
					<li><a href="/#features">团队优势</a></li>
					<li><a href="/blog">最新资讯</a></li>
					<li><a href="#footer">联系我们</a></li>
					<!-- <ul class="dropdown"> -->
					<!-- <li><a href="blog-single.html">blog post</a></li> -->
					<!-- </ul> -->
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- header wrapper -->
		<div class="header-wrapper md-padding" >
			<!-- style="padding-top: 8rem; padding-bottom: 8rem;" -->
			<div class="bg-img" style="background-image: url('/images/blog.jpg'); background-repeat: no-repeat; background-position: 50% 20%; background-attachment: scroll;">
				<div class="overlay"></div>
			</div>

			<div class="container ">
				<h2 class="white-text">{{data.post.title}}</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">首页</a></li>
					<li class="breadcrumb-item"><a href="/blog">最新资讯</a></li>
				</ul>
			</div>
		</div>
		<!-- /header wrapper -->

	</header>
	<!-- /Header -->

	<!-- Blog -->
	<div id="blog" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Aside -->
				<aside id="aside" class="col-md-3 col-md-push-9">

					<!-- Search -->
					<div class="widget">
						<div class="widget-search">
							<form role="search" action="/blog" method="GET">

									<input class="search-input" type="text" placeholder="搜索" id="keywords" name="keywords">
									<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>

							</form>
						</div>
					</div>
					<!-- /Search -->

					<!-- Category -->
					<div class="widget">
						<h3 class="title">类别目录</h3>
						<div class="widget-category">
							<a href="/blog">全部分类</a>
							{{# each data.categories }}
							<a href="{{categoryUrl key}}">{{name}}</a>
							{{/each}}
						</div>
					</div>
					<!-- /Category -->
				</aside>
				<!-- /Aside -->


				<!-- Main -->
				<main id="main" class="col-md-9 col-md-pull-3">
					<div class="blog">
						{{#if data.post.image}}
						<div class="blog-img">
							<img class="img-responsive" src="{{{cloudinaryUrl data.post.image crop='fit' }}}" alt="">
						</div>
						{{/if}}
						<div class="blog-content">
							<ul class="blog-meta">
								{{#if data.post.author}}
								<li><i class="fa fa-user"></i>{{data.post.author.name.first}} {{data.post.author.name.last}}</li>
								{{/if}}
								<li><i class="fa fa-clock-o"></i>{{date data.post.publishedDate}}</li>
								{{#if data.post.categories}}<li><i class="fa fa-tags"></i>{{data.post.categories.0.name}}</li>{{/if}}
								<!-- <li><i class="fa fa-comments"></i>57</li> -->
							</ul>
							<!-- <h3>{{data.post.title}}</h3> -->
							<p>{{{data.post.content.extended}}}</p>
						</div>


					</div>
				</main>
				<!-- /Main -->

				<a class="btn main-btn" href="/blog">返回</a>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->
