<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img src="/images/home/ldg-logo-gold.png" class="navbar-logo-l" alt="Lighthouse Development">
			<img src="/images/home/ldg-logo.png" class="navbar-logo-s" alt="Lighthouse Development">
		</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">CUSTOM BUILD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">COMMERCIAL</a>
        </li>
        <li class="nav-item nav-item-hover-dropdown">
          <button class="nav-link nav-item-drop-button">SMARTHOME SYSTEM</button>
          <div class="nav-item-dropdown-content">
            <div class="nav-item-dropdown-content-transparent"></div>
            <div class="nav-item-dropdown-content-link">
              <a href="#">Adolfburgh</a>
              <a href="#">North Tomasa</a>
              <a href="#">East Earlene</a>
              <a href="#">West Bryanaborough</a>
              <a href="#">New Arden</a>
              <a href="#">New Elvie</a>
            </div>
          </div>
        </li>
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead-subpage text-white d-flex" style="background-image: url('/images/blogin/blogin-header.png')">
  <div class="container masthead-container">
    <div class="row">
      <div class="col-lg-4 masthead-content">
        <h1 class="px-5 my-4">
          <strong>Blog</strong>
        </h1>
      </div>
      <div class="col-lg-8 masthead-content">
        <p class="px-5 py-2 mt-3">Est, ut dicis, inquit; Quae diligentissime contra Aristonem dicuntur a Chryippo. Ergo, inquit, tibi Q. Quod maxime efficit Theophrasti de beata vita liber, in quo multum admodum fortunae datur.</p>
      </div>
    </div>
  </div>
</header>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/">Blog</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{data.post.title}}</li>
	</ol>
</nav>

<section id="#blog" class="py-5">
	<div class="container blog-blogpage">
		<div class="row">

			<div class="col-lg-8">
				<div class="blog-post-full">
					<div class="blog-post-heading">
						<h3>{{data.post.title}}</h3>
					</div>
					<div class="blog-post-info row">
						<div class="blog-post-info-avatar col-2">
							<img src="/images/blogin/writer.png" alt="avatar">
						</div>
						<div class="blog-post-info-detail col-12 col-lg-3">
							<p class="blog-post-info-detail-author">BY {{data.post.author.name.first}} {{data.post.author.name.last}}</p>
							<p class="blog-post-info-detail-time">{{date data.post.publishedDate}}</p>
						</div>
						<div class="blog-post-info-detail col-4 col-lg-3">
							<a href="{{categoryUrl data.post.categories.0.name}}" class="blog-item-tag">{{data.post.categories.0.name}}</a>
						</div>
					</div>

					<div class="blog-post-content">
						{{{data.post.content.extended}}}
					</div>
				</div>

        <div class="blog-post-tag--end my-4">
          {{#each data.post.categories}}
            <a href="{{categoryUrl name}}"  class="blog-item-tag mr-3">{{name}}</a>
          {{/each}}
        </div>

			</div>


			<div class="col-lg-4">

				<div class="blog-recent-posts mb-4">
					<h3>Recent Posts</h3>
					<div class="blog-recent-posts-link">
						<a href="#">6 Powerful Tips To Creating Testimonials</a>
						<a href="#">Effective Advertising Pointers</a>
						<a href="#">Advertise Advertise Advertise</a>
						<a href="#">Truck Side Advertising Isn T It Time</a>
						<a href="#">Direct Mail Advertising How I Made 47</a>
					</div>
				</div>

        <div class="blog-side-section">
          <h4>categories</h4>
          <div class="blog-categories-link">
            <a href="#">Beauty</a>
            <a href="#">Lifestyle</a>
            <a href="#">Music</a>
          </div>
        </div>

        <div class="blog-side-section">
          <h4>tags</h4>
          <div class="blog-side-tags">
            <a href="#" class="blog-item-tag">travel</a>
            <a href="#" class="blog-item-tag">life style</a>
            <a href="#" class="blog-item-tag">fashion</a>
            <a href="#" class="blog-item-tag">art</a>
            <a href="#" class="blog-item-tag">food</a>
            <a href="#" class="blog-item-tag">beauty</a>
            <a href="#" class="blog-item-tag">style</a>
          </div>
        </div>
			</div>

      <div class="col-6 col-lg-4 order-lg-1 my-2">
        <a href="#" class="blog-post-link--end">previous story</a>
      </div>
      <div class="col-6 col-lg-4 order-lg-3 text-right my-2">
        <a href="#" class="blog-post-link--end">next story</a>
      </div>
      <div class="col-lg-4 order-lg-2 text-center my-2">
        <p class="blog-post-link--end">share this article</p>
        <div class="row">
          <div class="offset-3 offset-sm-4 offset-lg-3 col-2 col-sm-1 col-lg-2">
            <i class="fa fa-facebook-f"></i>
          </div>
          <div class="col-2 col-sm-1 col-lg-2">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="col-2 col-sm-1 col-lg-2">
            <i class="fa fa-pinterest-p"></i>
          </div>
        </div>
      </div>


		</div>

	</div>
</section>

<section class="pt-5">
  <div class="container blog-related">
    <h3 class="blog-related-heading mb-5">related blog</h3>
    <div class="row">
      <div class="col-lg-4">
        <div class="blog-related-block">
          <div class="mt-1 mb-4">
            <a href="#" class="blog-item-tag">art</a>
          </div>
          <a class="blog-related-block-cover" href="#">
            <img src="/images/blog/bl1.jpg" class="img-fluid p-1" alt="Commercial">
            <div class="blog-related-caption">
              <div class="blog-related-caption-content">
                <div class="blog-related-caption-content-heading px-4">
                  Why Did Reed Krakoff Walk Away from His Brand?
                </div>
                <div class="blog-related-caption-content-info p-4">
                  CARRIE CRAWFORD | 2 MIN AGO
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog-related-block">
          <div class="mt-1 mb-4">
            <a href="#" class="blog-item-tag">neighborhood</a>
          </div>
          <a class="blog-related-block-cover" href="#">
            <img src="/images/blog/bl3.jpg" class="img-fluid p-1" alt="Commercial">
            <div class="blog-related-caption">
              <div class="blog-related-caption-content">
                <div class="blog-related-caption-content-heading px-4">
                  Why Did Reed Krakoff Walk Away from His Brand?
                </div>
                <div class="blog-related-caption-content-info p-4">
                  CARRIE CRAWFORD | 2 MIN AGO
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="blog-related-block">
          <div class="mt-1 mb-4">
            <a href="#" class="blog-item-tag">fashion</a>
          </div>
          <a class="blog-related-block-cover" href="#">
            <img src="/images/blog/bl4.jpg" class="img-fluid p-1" alt="Commercial">
            <div class="blog-related-caption">
              <div class="blog-related-caption-content">
                <div class="blog-related-caption-content-heading px-4">
                  Why Did Reed Krakoff Walk Away from His Brand?
                </div>
                <div class="blog-related-caption-content-info p-4">
                  CARRIE CRAWFORD | 2 MIN AGO
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="btn btn-black btn-with-shadow btn-xl js-scroll-trigger mt-5" href="#">view all</a>
    </div>

  </div>
</section>
